<h2><%= @name %></h2>

<div class="cocktail-content">
  <img src=<%= @image %> />
  <div class="cocktail-info">
    <span><h4>Glass: </h4><%= @glass %></span>
    <span><h4>Instructions: </h4><%= @instructions %></span>
    <span>
      <h4>Ingredients</h4>
    </span>
  </div>
</div>
