<form method="post" action="/cocktail_result">
  <label for="cocktail_name">Search for cocktail</label>
  <input name="cocktail_name" id="cocktail_name" type="text" />
  <button>Search</button>
</form>
