<!DOCTYPE html>
<html>
  <head>
    <title>Tito's and Vodka</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>

  <body>
    <header>
      <nav>
        <h1><a href="/">Titos and Vodka</a></h1>
        <!-- <a href="/cocktail_search">Search</a> -->
        <form method="post" action="/cocktail_search_dynamic">
          <label for="search_term">Search for cocktail</label>
          <input name="search_term" id="search_term" type="text" />
          <label for="search_type">Search by: </label>
          <select id="search_type" name="search_type">
            <option value="by_name">Name</option>
            <option value="by_ingredient">Ingredient</option>
          </select>
          <button>Search</button>
        </form>
        <button><a href="/advanced_search">Advanced Search</a></button>
        <button><a href="/feeling_lucky">I'm feeling lucky</a></button>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
